#Environment variables file 
.env

# putting Data files in .gitignore for now as well
Data/

#virtual environment
mr/

#output/

# Python cache files
src/embeddings/__pycache__/
src/retrieval/__pycache__/

# embeddings data
#embeddings_data/

#extracted data
#extracted_data/

src/llm/__pycache__/

src/semantic/__pycache__/